
.table::-webkit-scrollbar{
  display: none;
}

.table{
  overflow-x: scroll;
  border-radius: 10px;
  background-color: var(--bg-grey);
}


.table tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
}

.table tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}

.table tr:last-child td {
  border: none;
}


.tablehead {
  top: 0;
  position: sticky;
  background-color: var(--primary-maroon);
  color: var(--main-white);
  text-align: center;
  vertical-align: middle !important;
}

.tablebody {
  background-color: var(--bg-grey);
  overflow-y: scroll;
  text-align: center;
  vertical-align: middle !important;
}

.status {
  background-color: var(--status-orange);
  color: var(--main-white);
  width: 60%;
}

.cancel, .back {
  background-color: var(--primary-maroon) !important;
  border-color: var(--primary-maroon) !important;
  color: var(--main-white) !important;
}

.view{
  width: 60%;
  background-color: var(--primary-maroon) !important;
  outline: var(--primary-maroon) !important;
  color: var(--main-white) !important;
}

.view:hover{
  background-color: var(--bg-gray) !important;
  color: var(--primary-maroon) !important;
  outline: var(--primary-maroon) solid 2px !important;
}

.cancel:hover, .back:hover{
  background-color: var(--primary-maroon-hover) !important;
  border-color: var(--primary-maroon-hover) !important;
  
}

.back {
  background-color: var(--primary-maroon);
  color: var(--main-white);
  width: 110px;
}

.title {
  color: var(--primary-maroon);
}

.cancel, .done{
  max-width: 110px;
  min-width: 110px;
  border-radius: 10px !important;
}

.done {
  background-color: var(--main-white) !important;
  border: var(--primary-maroon) solid 2px !important;
  color: var(--primary-maroon) !important;
}

.done:hover {
  background-color: var(--primary-maroon) !important;
  color: var(--main-white) !important;
}

/* Modal */

.verify_modal{
  border-radius: 12px !important;
}

.modalHead {
  background-color: var(--primary-maroon);
  border-radius: 10px 10px 0 0 !important;
  color: var(--main-white);
}


.imagePreview {
  border: 1px solid var(--main-black);
}

.with_copies:checked{
  background-color: var(--primary-maroon) !important;
  border-color: var(--primary-maroon) !important;
  opacity: 0.8;
}

.rejectModal, .approveModal{
  width: 20%;
}

.rejectModal {
  background-color: var(--primary-maroon) !important;
  border-color: var(--primary-maroon) !important;
  color: var(--main-white) !important;
}

.rejectModal:hover {
  background-color: var(--primary-maroon-hover) !important;
  border-color: var(--primary-maroon-hover) !important;
}

.approveModal {
  background-color: var(--main-white) !important;
  border: var(--primary-maroon) solid 2px !important;
  color: var(--primary-maroon) !important;
}

.approveModal:hover {
  background-color: var(--primary-maroon) !important;
  color: var(--main-white) !important;
}

.modalCentered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalCentered .modal-dialog {
  margin: 0;
}
