.container {
  display: flex;
  width: 200px;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  text-align: center;
  padding: 12px 12px;
  background-color: var(--primary-maroon);
  color: white;
}

.container img {
  width: 128px;
}
