@media screen and (max-width: 578px){
  .container{
    display: none !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}

.container {
  display: flex;
  width: 230px;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  text-align: center;
  padding: 12px 12px 0px 12px;
  background-color: var(--primary-maroon);
  color: white;
  border-radius: 15px;
}

.container img {
  width: 108px;
}
