@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --primary-maroon: #790000;
  --bg-grey: #f5f5f3;
  --status-yellow: #fff200;
  --status-orange: #f68e56;
  --status-green: #00a651;

  --main-font: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
}
