@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --primary-maroon: #790000;
  --primary-maroon-hover: #8b00009f;
  --bg-grey: #f5f3f3;
  --status-yellow: #fff200;
  --status-orange: #f68e56;
  --status-green: #00a651;
  --status-green-hover: #01b458;
  --main-white: #ffffff;
  --main-black: #000000;

  /* REMOVED THE COLOR VARIABLES FOR MODAL, USE THE COLOR VARIABLES IN 
  THE ROOT: INSTEAD (SEAN) */
  --main-font: "Montserrat", sans-serif;
}

* {
}

.bg-grey {
  background-color: var(--bg-grey) !important;
}

.text-grey {
  color: var(--bg-grey);
}

.text-yellow {
  color: var(--status-yellow);
}

.text-orange {
  color: var(--status-orange);
}

.text-green {
  color: var(--status-green) !important;
}

.text-red {
  color: var(--primary-maroon);
}

.section-header {
  color: var(--primary-maroon);
  font-style: italic;
  margin-right: auto;
}

.section-header-block {
  color: white;
  padding: 10px;
  background-color: var(--primary-maroon);
  font-style: italic;
  margin-right: auto;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  /* LET ME KNOW IF YOU GUYS WANT TO REMOVE THE LETTER WEBSITE (SEAN) */
  letter-spacing: 0.5px !important;
}

.table-container {
  min-height: 250px;
  max-height: 250px;
  overflow: auto;
  background-color: var(--bg-grey);
}

.table-min {
  min-height: 500px;
}

/* custom select  */
/* .form-select:focus {
  border-color: var(--primary-maroon-hover) !important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem var(--primary-maroon-hover) !important;
} */

/* .form-control:focus {
  border-color: var(--primary-maroon-hover) !important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem var(--primary-maroon-hover) !important;
} */
